{% extends 'blog/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <a class="btn btn-success" href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span>Add new blog</a>
    {% endif %}
    <hr>
    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ post.author }}</h3>
                <br>
                <p class="panel-title">{{ post.published_date }}</p>
            </div>
            <div class="panel-body">
                <h4 class="panel-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
                <p>{{ post.text|linebreaksbr }}</p>
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.approved_comments.count }} Comments</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
