{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="col-md-9" style="background-color: #fff;">
  <div class="row">
    <div class="col-md-10">
    {% if posts.count > 0 %}
    {% for post in posts %}
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <p class="lead">{{ post.title }}</p>
              <p class="post">{{ post.text|lower|truncatewords:'25' }}<a href="{% url 'blog:post_detail' post.id %}">read more</a></p>
            </div>
            <div class="col-md-3" style="padding: 10px;">
              <img class="img-fluid rounded" width="100" src="{% static 'images/1.png' %}" alt="">
            </div>
          </div>

        </div>
          {% if post.published_date %}
          <div class="card-footer">
            <span class="text-primary" style="padding: 5px;">Posted on {{ post.published_date }}</span>
            <span class="text-primary" style="padding: 5px;">Created On {{ post.created_date }}</span>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary btn-sm" href="{% url 'blog:post_edit' pk=post.pk %}">
                edit
            </a>
            <a class="btn btn-danger btn-sm" href="{% url 'blog:post_remove' pk=post.pk %}">
                delete
            </a>
          </div>
          {% else %}
          <div class="card-footer">
            <span class="text-primary" style="padding: 5px;">Created On {{ post.created_date }}</span>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary btn-sm" href="{% url 'blog:post_publish' pk=post.pk %}">Publish</a>
            <a class="btn btn-primary btn-sm" href="{% url 'blog:post_edit' pk=post.pk %}">
                edit
            </a>
            <a class="btn btn-danger btn-sm" href="{% url 'blog:post_remove' pk=post.pk %}">
                delete
            </a>
          </div>
          {% endif %}
        </div>
      <br>
      {% endfor %}
      {% else %}
      <div class="alert alert-info text-center">
        <h4>You have not created any post yet</h4>
      </div>
    {% endif %}
  </div>
  <div class="col-md-2"></div>
</div>
</div>
{% endblock %}
