{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="col-md-9" style="background-color: #fff;">
  {% if posts.count > 0 %}
    {% for post in posts %}
    <div class="row">
        <div class="col-md-12 post">
            <div class="row">
                <div class="col-md-12">
                    <h4>
                        <strong>
                          <a href="" class="post-title">{{ post.title }}</a>
                        </strong>
                      </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 post-header-line">
                    <span class="glyphicon glyphicon-user"></span>by <a href="#">{{ post.author }}</a> | <span class="glyphicon glyphicon-calendar">
                    </span>{{ post.published_date }} | <span class="glyphicon glyphicon-comment"></span><a href="#">
                        {{ post.comments.count }} Comments</a> | <i class="icon-share"></i><a href="#">39 Shares</a> | <span class="glyphicon glyphicon-tags">
                        </span>Tags : <a href="#"><span class="label label-info">Snipp</span></a> <a href="#">
                            <span class="label label-info">Bootstrap</span></a> <a href="#"><span class="label label-info">
                                UI</span></a> <a href="#"><span class="label label-info">growth</span></a>
                </div>
            </div>
            <div class="row post-content">
                <div class="col-md-3">
                    <a href="#">
                        <img src="{% static 'images/1.png' %}" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-9">
                    <p>{{ post.text|lower|truncatewords:'35' }}</p>
                    <p>
                      <a class="btn btn-read-more" href="{% url 'blog:post_detail' pk=post.pk %}">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}

  {% endif %}
{% endblock %}
