{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Techlab - Home</title>
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="margin-bottom: 0px">
      <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}" alt="techlab logo" style="height: 50px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'techlab:index' %}">
                <i class="fa fa-home"></i>
                Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'techlab:about'%}">
              <i class="fa fa-question-circle"></i>
              About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'techlab:contact' %}">
              <i class="fa fa-phone-square"></i>
              Contact
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Apps
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card h-100" id="apps">
                    <a href="{% url 'blog:post_list'%}">
                      <div class="card-body">
                         <img src="{% static 'images/blog-circle.png' %}" alt="" style="height: 100px; Width: 100px;">
                         <h4 class="card-title text-muted">Blog</h4>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card h-100" id="apps">
                    <div class="card-body">
                       <img src="{% static 'images/forum.png' %}" alt="" style="height: 100px; Width: 100px;">
                       <h4 class="card-title text-muted">Forum</h4>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card h-100" id="apps">
                    <div class="card-body">
                      <img src="{% static 'images/education.png' %}" alt="" style="height: 100px; Width: 100px;">
                      <h4 class="card-title text-muted">Education</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" size="50" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </nav>
    {% block partial %}
      <header id="carousel">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url({% static 'images/1.png' %})">
            <div class="carousel-caption d-none d-md-block">
              <h3>First Slide</h3>
              <p>This is a description for the first slide.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url({% static 'images/2.jpg' %})">
            <div class="carousel-caption d-none d-md-block">
              <h3>Second Slide</h3>
              <p>This is a description for the second slide.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url({% static 'images/3.jpg' %})">
            <div class="carousel-caption d-none d-md-block">
              <h3>Third Slide</h3>
              <p>This is a description for the third slide.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
    {% endblock %}
    <!-- Page Content -->
    <div class="container" id="main_content">
      {% block content %}
      {% endblock %}
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
      </div>
    </footer>
    <footer class="py-5" id="footer_bottom">
      <div class="container">
        <p class="m-0 text-white">
          &copy; Copyright  techlab.com 2018
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript">
      $('#navbarDropdownPortfolio').click(function(){
        $('#list_of_apps').slideToggle();
      })
    </script>
  </body>

</html>
