{% extends 'techlab/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="col-lg-4 mb-4">
    <div class="card h-100" id="service">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-2">
            <img src="{% static 'images/education.png' %}" alt="" height="40" width="40">
          </div>
          <div class="col-lg-10">
              <h4 class="card-title">Education and Consultation</h4>
          </div>
        </div>

      </div>
      <div class="card-body">
        <p class="card-text">PHP, Java, HTML, CSS, JavaScript, SPSS, Tally, PHP Frameworks</p>
      </div>
      <div class="card-footer">
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card h-100" id="service">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-2">
            <img src="{% static 'images/software.png' %}" alt="" height="40" width="40">
          </div>
          <div class="col-lg-10">
            <h4 class="card-title">Software Design and Development</h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Static, Dynamic Website design and development, Management information system development and mobile application developmen</p>
      </div>
      <div class="card-footer">
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card h-100" id="service">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-2">
            <img src="{% static 'images/graphic.png' %}" alt="" height="40" width="40">
          </div>
          <div class="col-lg-10">
            <h4 class="card-title">Graphics design and Priting</h4>
          </div>
        </div>

      </div>
      <div class="card-body">
        <p class="card-text">Business card, fliers, Rosters, Brochures, Magazines, Identity cards and Invitations</p>
      </div>
      <div class="card-footer">
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-sm-12" id="advartisement">
    <div class="text">
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <p>eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
    </div>
    <div class="advartisement-btn">
      <button type="button" class="btn btn-info"name="button">Some other info</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-sm-12" id="techlab_blog_posts">
    <h3>Recent blog posts</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 mb-4" id="techlab_blog_wrapper">
    <div class="card h-100" id="techlab_blog">
      <div class="card-header">
        <img src="{% static 'images/2.jpg' %}" alt="">
      </div>
      <div class="card-body">
        <h6 class="card-title">blog post title</h6>
        <p class="card-text">PHP, Java, HTML, CSS, JavaScript, SPSS, Tally, PHP Frameworks</p>
      </div>
      <div class="card-footer">
        <span class="card-text">12 sept 2018</span>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-4">
    <div class="card h-100" id="techlab_blog">
      <div class="card-header">
        <img src="{% static 'images/2.jpg' %}" alt="">
      </div>
      <div class="card-body">
        <h6 class="card-title">blog post title</h6>
        <p class="card-text">PHP, Java, HTML, CSS, JavaScript, SPSS, Tally, PHP Frameworks</p>
      </div>
      <div class="card-footer">
        <span class="card-text">12 sept 2018</span>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-4">
    <div class="card h-100" id="techlab_blog">
      <div class="card-header">
        <img src="{% static 'images/2.jpg' %}" alt="">
      </div>
      <div class="card-body">
        <h6 class="card-title">blog post title</h6>
        <p class="card-text">PHP, Java, HTML, CSS, JavaScript, SPSS, Tally, PHP Frameworks</p>
      </div>
      <div class="card-footer">
        <span class="card-text">12 sept 2018</span>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-4">
    <div class="card h-100" id="techlab_blog">
      <div class="card-header">
        <img src="{% static 'images/2.jpg' %}" alt="">
      </div>
      <div class="card-body">
        <h6 class="card-title">blog post title</h6>
        <p class="card-text">PHP, Java, HTML, CSS, JavaScript, SPSS, Tally, PHP Frameworks</p>
      </div>
      <div class="card-footer">
        <span class="card-text">12 sept 2018</span>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
